# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Ambiente virtual
.venv/
venv/

# Pytest
.pytest_cache/

# Arquivos gerados (não vão pro git)
saida/
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db